<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav">
  <a routerLink="/home/{{searchbarService.language}}" id="activated">Home</a>
  <a routerLink="/config/{{searchbarService.language}}">Configuration</a>
  <a routerLink="/database/{{searchbarService.language}}">API</a>
  <span>NASA Pic of the Day</span>
  <div class="search-container">
    <span id="displayLanguage">Language: {{ searchbarLang }}</span>
    <button (click)="searchButtonClicked()" routerLink="/search/{{searchbarService.language}}/POD">
      <i class=" fa fa-search"></i></button>
  </div>
</div>