<app-searchbar></app-searchbar>
<div class="dropdown">
  <button class="dropbtn">Choose Language ↓</button>
  <div class="dropdown-content">
    <a routerLink='/config/English' (click)=changeLanguage(e)>English</a>
    <a routerLink='/config/Russian' (click)=changeLanguage(e)>Russian</a>
    <a routerLink='/config/Japanese' (click)=changeLanguage(e)>Japanese</a>
    <a routerLink='/config/Spanish' (click)=changeLanguage(e)>Spanish</a>
    <a routerLink='/config/Korean' (click)=changeLanguage(e)>Korean</a>
  </div>
</div>